<div class="card h-100">
  <a href="#!"><img class="card-img-top" src="https://via.placeholder.com/700x400" alt="..." /></a>
  <div class="card-body">
    <h2 class="card-title text-center">{{ product.name }}</h2>
    <p><strong>Price:</strong>TK.{{ product.price }}</p>
    <p>
      <strong>Color:</strong>
      <mat-form-field class="w-50">
        <mat-select (selectionChange)="onColorSelect()" [(ngModel)]="selectedColor">
          <mat-option *ngFor="let color of colors" [value]="color">
            {{color}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <strong>Size:</strong>
      <mat-form-field class="w-50">
        <mat-select [(ngModel)]="selectedSize" [disabled]="!selectedColor">
          <mat-option *ngFor="let size of sizes" [value]="size">
            {{size}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </p>
    <p>
      <strong>Quantity:</strong>
      <input [(ngModel)]="selectedQuantity" type="number" class="form-control-sm w-25" min="1" [max]="maxQuantity"
        [disabled]="!selectedColor">
    </p>
  </div>
  <div class="card-footer text-center">
    <button *ngIf="product.available;else NotAvailable" (click)="onAddItem()" class="btn btn-sm"
      [disabled]="!selectedColor || !selectedQuantity || !selectedSize">Add
      To Cart
    </button>
    <ng-template #NotAvailable>Product Not Available</ng-template>
  </div>
</div>
