<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">Demo</a>

    <div class="right-content mr-auto">
      <a class="navbar-brand" [routerLink]="['/products']" routerLinkActive="active">Products</a>
      <a *ngIf="user" class="navbar-brand" [routerLink]="['/cart']" routerLinkActive="active">
        Cart
        <span class="badge badge-pill badge-dark">{{ cartItemCount }}</span>
      </a>
    </div>
    <div *ngIf="!user" class="right-content ml-auto">
      <a class="navbar-brand" [routerLink]="['/auth/login']" routerLinkActive="active">Login</a>
      <a class="navbar-brand" [routerLink]="['/auth/register']" routerLinkActive="active">Register</a>
    </div>
    <div *ngIf="user" class="right-content ml-auto">
      <a class="navbar-brand" (click)="onLogout()" style="cursor: pointer;">Logout</a>
    </div>
  </div>
</nav>
